@import '../../../../assets/palette.css';

.st-reaction-editor {
  width: 100%;
  border: 1px solid var(--stplatform-gray);
  border-radius: 4px;
  padding: 6px 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--stplatform-black-80);
}

.st-reaction-editor sub {
  vertical-align: sub !important;
}

.st-reaction-editor:focus {
  border-color: var(--stplatform-primary);
  outline: 1px solid var(--stplatform-primary);
}

.st-reaction-editor__placeholder {
  color: var(--stplatform-black-30);
}
