@import '../../../assets/palette.css';

.testwizard-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--stplatform-black-60);
  z-index: 6;
}

.testwizard {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: var(--stplatform-white);
  border-radius: 10px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.testwizard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.testwizard__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.testwizard__close {
  position: relative;
  padding: 12px;
  cursor: pointer;
}
.testwizard__close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
  height: 2px;
  background-color: var(--stplatform-black-80);
  border-radius: 2px;
}
.testwizard__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 18px;
  height: 2px;
  background-color: var(--stplatform-black-80);
  border-radius: 2px;
}
.testwizard__close:hover::before, .testwizard__close:hover::after {
  background-color: var(--stplatform-black-50);
}

.testwizard__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testwizard__action {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}
.testwizard__action-cancel {
  color: var(--stplatform-black-60);
}
.testwizard__action-cancel:hover {
  color: var(--stplatform-black-80);
}
.testwizard__action-create {
  background-color: var(--stplatform-primary-80);
  color: var(--stplatform-white);
}
.testwizard__action-create:hover {
  background-color: var(--stplatform-primary);
}

.testwizard__content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testwizard__left {
  margin-left: 5px;
  padding: 5px;
  height: 100%;
  /* flex-grow: 1; */
}

.testwizard__right {
  margin-right: 5px;
  padding: 5px;
  height: 100%;
  flex-grow: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testwizard__exircise_list-wrap {
  width: 100%;
  height: 100%;
  min-width: 170px;
  box-sizing: border-box;
  border: 2px solid var(--stplatform-black-16);
}
.testwizard__exircise_new {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 8px;
  border: 2px solid var(--stplatform-black-25);
  border-radius: 4px;
  margin: 2px;
  box-sizing: border-box;

  cursor: pointer;
}
.testwizard__exircise_new:hover {
  background: var(--stplatform-primary-20);
  border-color: var(--stplatform-primary-50);
}
.testwizard__exircise_new-logo {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 2px solid var(--stplatform-primary-50);
  border-radius: 50%;
}
.testwizard__exircise_new-logo::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 2px;
  background-color: var(--stplatform-primary);
  border-radius: 2px;
}
.testwizard__exircise_new-logo::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 14px;
  background-color: var(--stplatform-primary);
  border-radius: 2px;
}
.testwizard__exircise_new-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.testwizard__exircise_list-divider {
  margin: 16px 5px;
  height: 1px;
  background: var(--stplatform-black-08);
}

.testwizard__exircise-list {
  margin: 10px 0;
  overflow-y: auto;
}

.testwizard__list-item {
  position: relative;
  padding: 5px;
  padding-left: 16px;
  border: 2px solid var(--stplatform-black-25);
  border-radius: 4px;
  margin: 5px 2px;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  user-select: none;
}
.testwizard__list-item::after {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  content: '\2807';
  font-size: 16px;
  color: var(--stplatform-black-50);
}
.testwizard__list-item:hover::after {
  color: var(--stplatform-primary-50);
}
.testwizard__list-item:hover {
  background: var(--stplatform-primary-20);
  border-color: var(--stplatform-primary-50);
}
.testwizard__list-item-title {
  color: var(--stplatform-black-80);
}
.testwizard__list-item-type {
  font-size: 11px;
  color: var(--stplatform-black-60);
}

.testwizard__list-item-remove {
  position: relative;
  margin-left: 5px;
  padding: 8px;
  cursor: pointer;
}
.testwizard__list-item-remove::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 2px;
  background-color: var(--stplatform-black-50);
  border-radius: 2px;
}
.testwizard__list-item-remove::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 12px;
  height: 2px;
  background-color: var(--stplatform-black-50);
  border-radius: 2px;
}
.testwizard__list-item-remove:hover::before, .testwizard__list-item-remove:hover::after {
  background-color: var(--stplatform-black-80);
}

.testwizard__setting {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 5px;
  background: lightblue;
}
.testwizard__data {
  width: 100%;
  flex-grow: 2;
  margin-bottom: 5px;
  background: lightblue;
}
.testwizard__preview {
  width: 100%;
  flex-grow: 2;
  background: lightblue;
}
