@import '../../../assets/palette.css';

.testwizard__setting {
  width: 100%;
  /* flex-grow: 1; */
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 2px solid var(--stplatform-black-16);

  display: flex;
}

.testwizard__setting_part {
  width: 50%;
  height: 100%;
  padding: 5px;
}

.testwizard__setting_part-title {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.testwizard__setting_checkbox {
  margin-bottom: 5px;
}
