@import '../../../assets/palette.css';


.ex-hint {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px 14px;
  z-index: 6;
}
.ex-hint--correct {
  background-color: var(--stplatform-hint-bg-correct);
}
.ex-hint--wrong {
  background-color: var(--stplatform-hint-bg-wrong);
}
.ex-hint__title {
  margin: 0 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.ex-hint__title--correct {
  color: var(--stplatform-hint-title-correct);
}
.ex-hint__title--wrong {
  color: var(--stplatform-hint-title-wrong);
}
.ex-hint__sub-title {
  margin: 6px 10px 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.ex-hint__sub-title--correct {
  color: var(--stplatform-hint-title-correct);
}
.ex-hint__sub-title--wrong {
  color: var(--stplatform-hint-title-wrong);
}

.ex-hint__button button {
  padding: 18px 20px 14px;
  width: 100%;

  border: none;
  border-radius: 24px;
  outline: none;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;

  text-transform: uppercase;
  cursor: pointer;
}

.ex-hint__button button {
  margin-top: 26px;
  color: rgba(255, 255, 255, 0.9);
}
.ex-hint__button--correct button {
  background: var(--stplatform-hint-button-correct);
}
.ex-hint__button--wrong button {
  background: var(--stplatform-hint-button-wrong);
}
