@import '../../../../assets/palette.css';

.ex-button__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0,0,0,0.8);
}

.ex-button__question {
    margin-top: 16px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
}

.ex-button__button {
    display: block;
    width: 100%;
    margin: 20px 0!important;
    padding: 5px;

    border-radius: 10px;
    border-color: var(--stplatform-primary-50);
    background: var(--stplatform-white);
    color: var(--stplatform-primary-80);

    font-family: 'Roboto', sans-serif;
    font-style: normal!important;
    font-weight: 300!important;
    font-size: 16px!important;
    line-height: 24px!important;
    cursor: pointer;
}
