@import '../assets/palette.css';

.app {  
    position: relative;
    height: 100vh;
    display: flex;
    background: var(--stplatform-white);
}

.app_right { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
