@import '../../../../assets/palette.css';

.st-button-wrap {
  margin: 2px;
}

.st-button {
  border: 1px solid var(--stplatform-primary-50);
  background: var(--stplatform-primary-16);
  border-radius: 4px;
  padding: 4px 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  cursor: pointer;
}
.st-button:hover {
  background: var(--stplatform-primary-30);
  border-color: var(--stplatform-primary-80);
}
