@import '../../../assets/palette.css';

.header {
    height: 60px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--stplatform-white);
}

.header__part--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__search {
    margin-right: 8px;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: var(--stplatform-header-title);
}

.header__settings {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--stplatform-black);
}

.header__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header__avatar--onhover:hover {
    background-color: var(--stplatform-primary-16);
}

@media screen and (max-width: 480px) {
    .header__settings {
        display: none;
    }
}

