@import '../../../assets/palette.css';

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px var(--stplatform-black-08);
}

.styled-table thead tr {
  background-color: var(--stplatform-primary);
  color: var(--stplatform-white);
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid var(--stplatform-black-06);
}
.styled-table tbody tr:hover {
  background-color: var(--stplatform-primary-16) !important;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: var(--stplatform-black-03);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--stplatform-primary);;
}
