@import '../../../assets/palette.css';

.card {
    width: 300px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--stplatform-white);
    box-shadow: 1px 4px 9px var(--stplatform-black-25);
    border-radius: 10px;
    margin: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;

    cursor: pointer;
}

.card__content {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.card__navigation {
    position: relative;
    width: 34px;
    height: 100%;
    background: var(--stplatform-primary);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card__navigation::before {
    content: '';
    position: absolute;
    top: calc(50% + 5px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
    background: var(--stplatform-white);
    width: 4px;
    height: 16px;
    border-radius: 2px;
}

.card__navigation::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(-40deg);
    background: var(--stplatform-white);
    width: 4px;
    height: 16px;
    border-radius: 2px;
}

@media screen and (max-width: 480px) {
    .card_wrap {
        flex-grow: 1;
        margin: 10px;
    }
    .card {
        width: 100%;
        max-width: 300px;
        min-width: 260px;
        margin: 0;
    }
}
