:root {
  --stplatform-white: #ffffff;
  --stplatform-white-90: rgba(255, 255, 255, 0.9);
  --stplatform-white-80: rgba(255, 255, 255, 0.8);
  --stplatform-white-50: rgba(255, 255, 255, 0.5);
  --stplatform-white-30: rgba(255, 255, 255, 0.3);

  --stplatform-black: #000000;
  --stplatform-black-80: rgba(0, 0, 0, 0.8);
  --stplatform-black-60: rgba(0, 0, 0, 0.6);
  --stplatform-black-50: rgba(0, 0, 0, 0.5);
  --stplatform-black-40: rgba(0, 0, 0, 0.4);
  --stplatform-black-30: rgba(0, 0, 0, 0.3);
  --stplatform-black-25: rgba(0, 0, 0, 0.25);
  --stplatform-black-20: rgba(0, 0, 0, 0.2);
  --stplatform-black-16: rgba(0, 0, 0, 0.16);
  --stplatform-black-08: rgba(0, 0, 0, 0.08);
  --stplatform-black-06: rgba(0, 0, 0, 0.06);
  --stplatform-black-03: rgba(0, 0, 0, 0.03);

  --stplatform-gray: #cccccc;

  --stplatform-red-10: rgba(255,0,0,0.1);

  --stplatform-header-title: #41B9A4;

  --stplatform-primary: #56D1BB;
  --stplatform-primary-80: rgba(86, 209, 187, 0.8);
  --stplatform-primary-50: rgba(86, 209, 187, 0.5);
  --stplatform-primary-30: rgba(86, 209, 187, 0.3);
  --stplatform-primary-20: rgba(86, 209, 187, 0.2);
  --stplatform-primary-16: rgba(86, 209, 187, 0.16);

  --stplatform-hint-bg-correct: #D0FFCF;
  --stplatform-hint-bg-wrong: #FFCFCF;
  --stplatform-hint-title-correct: #54D852;
  --stplatform-hint-title-wrong: #FF5F5F;
  --stplatform-hint-button-correct: linear-gradient(180deg, #84E782 0%, #85DE83 100%);
  --stplatform-hint-button-wrong: linear-gradient(180deg, #FF7373 0%, #F15E5E 100%);

  --stplatform-ex-touch-line: rgba(0, 0, 0, 0.16);
}
