@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import './assets/palette.css';

.stplatform-link {
  text-decoration: none;
}

.stplatform-link, .stplatform-link:visited, .stplatform-link:hover, .stplatform-link:active {
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.exercise__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--stplatform-black-80);
}

.exercise__question {
  margin-top: 16px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
}

.st-h2 {
  font-family: "Open Sans";
  font-size: 18px;
}

.header-with-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st-tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.st-tab {
  font-family: "Open Sans";
  font-size: 15px;
  padding: 8px;
  cursor: pointer;

  background-color: var(--stplatform-black-03);
  border-bottom: 3px solid var(--stplatform-primary-30);
}
.st-tab:hover {
  background-color: var(--stplatform-black-06);
}

.st-tab--active {
  border-bottom-color: var(--stplatform-primary);
}

.delete-modal-body-text {
  margin: 16px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--stplatform-black-80);
}
