@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import './assets/palette.css';

.stplatform-link {
  text-decoration: none;
}

.stplatform-link, .stplatform-link:visited, .stplatform-link:hover, .stplatform-link:active {
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.exercise__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--stplatform-black-80);
}

.exercise__question {
  margin-top: 16px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
}
