.content {
    position: relative;
    flex-grow: 1;
    /* height: calc(100vh - 60px); */
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.content::-webkit-scrollbar {
    width: 0.5em;
}
.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--stplatform-black-20);
}
.content::-webkit-scrollbar-thumb {
    background-color: var(--stplatform-gray);
    border-radius: 4px;
}
